.Comment {
	width: 30%;
	margin-left: auto;
   	margin-right: auto;
    border-bottom: 2px solid #73AD21;
    
}

.Comment:first-child {
	border-top: 2px solid #73AD21;
	margin-top: 10px;
}

.Comment-title {
	padding: 5px 5px 5px 2px;
	display: block;
}

.Author-name {
	float: left;
	font-weight: bold;
	/*clear: left;*/
}

.Comment-timestamp {
	float: right;
	font-size: 12px;
	/*clear: right;*/
}

.Comment-text {
	text-align: left;
	padding: 2px;
}