.Comment {
    border-bottom: 2px solid #73AD21;
}

/*.Comment:first-child {
	border-top: 2px solid #73AD21;
	margin-top: 10px;
}*/

.Comment-title {
	padding: 5px 5px 5px 2px;
	display: block;
}

.Comment-author {
	font-weight: bold;
}

.Comment-timestamp {
	float: right;
	font-size: 12px;
}

.Comment-text {
	text-align: left;
	padding: 2px;
}